.header
  button.navbar-burger
    border: none
    background-color: transparent

.footer
  p
    font-size: 0.8rem

.Home
  background-color: white

  .card
    position: relative

    .card-image
      .image
        background-size: cover
        background-position: center center

    .tag
      position: absolute
      top: 1rem
      right: 1rem

.Article
  .hero-body
    background-size: cover
    background-position: center center
    position: relative

    .container
      // position: relative
      z-index: 2

    &::after
      content: ''
      display: block
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      background-color: rgba(0, 0, 0, 0.5)
      z-index: 1

  .section
    .container
      max-width: 800px

  .content
    table
      @extend .table
      @extend .is-striped
      @extend .is-hoverable
      @extend .is-narrow

.ThrustTests
  .section
    padding: 0

    .container
      max-width: 800px

  .mixedChart
    height: 350px
    margin: 0 0 1rem

  .comboSlots
    text-align: center

    .combo
      padding: 1rem
      margin-bottom: 1rem

      &:last-child
        margin-bottom: 0

      &__table
        font-size: 12px
        background-color: transparent
        margin-bottom: 0
        table-layout: fixed

        thead
          .title
            font-size: 1rem
            margin: 0.5rem 0

          tr.statHeaders
            th
              font-size: 0.75rem

        tr, th, td
          color: inherit
          border-color: inherit

        tbody
          tr
            &:nth-child(even)
              background-color: rgba(0,0,0,0.15)

            td
              font-size: 0.75rem

      &__notes
        margin: 1rem 0 0
        background-color: rgba(255, 255, 255, 0.25)
        padding: 0.5rem
        font-size: 0.6rem

    .button
      font-family: $font-main
      // border: 4px solid white
      background-color: black
      color: white
      border-radius: 0
      width: 100%

      &:hover
        background-color: #333

  .comboPicker
    .modal-content
      background-color: white
      padding: 2rem
      border: 4px solid black

    .batteryGroup
      border: 4px solid black
      margin-bottom: 0.5rem

      &__title
        display: block
        width: 100%
        border: none
        background-color: black
        font-size: 1rem
        font-family: $font-main
        text-align: center
        color: white
        padding: 0.5rem 1rem
        cursor: pointer
        outline: none

      &__contents
        padding: 1rem
        display: none

        &.-isExpanded
          display: block

    .motorGroup
      margin-bottom: 0.5rem
      border: 2px solid $turquoise

      &:last-child
        margin-bottom: 0

      &__title
        display: block
        width: 100%
        border: none
        background-color: $turquoise
        font-size: 1rem
        // font-family: $font-main
        text-align: center
        color: white
        padding: 0.5rem 1rem
        cursor: pointer
        outline: none

      .motorGroup__table
        display: none

        &.-isExpanded
          display: table

        tbody
          tr
            td
              font-size: 12px

              &:nth-child(1)
                width: 35%

              &:nth-child(2)
                width: 50%

              &:nth-child(3)
                width: 15%
                text-align: center
                background-color: $grey-lightest

              button
                font-size: 12px
                padding: 0
                border: none
                background-color: transparent
                color: $turquoise
                text-decoration: underline
                cursor: pointer

              span
                color: $grey-light

  .thrustTestInfo
    .column
      & > ul
        list-style-type: disc
        margin-left: 2rem
        margin-bottom: 1rem

        ul
          margin-left: 2rem
          list-style-type: circle

      & > ol
        margin-left: 2rem
        margin-bottom: 1rem

        ol
          list-style-type: lower-alpha
          margin-left: 2rem

    p
      margin-bottom: 1rem

    sup
      color: red
